---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
---
<DefaultLayout title="About Test Astro PWA">
    <h1>Welcome to <a href="https://astro.build/">Astro</a> PWA</h1>
    <a href="/test">Go /test</a>
    <br/>
    <a href="/test/">Go /test/</a>
</DefaultLayout>
