---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
---
<DefaultLayout title="Test Astro PWA">
    <h1>Welcome to <a href="https://astro.build/">Astro</a> PWA</h1>
    <a href="/test/about">Go to /test/about</a>
    <br/>
    <a href="/test/about/">Go to /test/about/</a>
    <br/>
    <a href="/">Go to /</a>
</DefaultLayout>
